<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>602413416082-53t46cuivk7nkeicams4c8gs190nq3bf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602413416082-53t46cuivk7nkeicams4c8gs190nq3bf</string>
	<key>API_KEY</key>
	<string>AIzaSyDTzcNkZbZYvmBICieKqigqSQbDg2pG8ZE</string>
	<key>GCM_SENDER_ID</key>
	<string>602413416082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.victorchu.flux</string>
	<key>PROJECT_ID</key>
	<string>flux-b6aa8</string>
	<key>STORAGE_BUCKET</key>
	<string>flux-b6aa8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602413416082:ios:eb2b63373e78b604</string>
	<key>DATABASE_URL</key>
	<string>https://flux-b6aa8.firebaseio.com</string>
</dict>
</plist>